<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 装配 Bean-->
    <bean name="landlord" class="com.fys.aop.pojo.Landlord"/>
    <bean id="broker" class="com.fys.aop.aspect.Broker"/>

    <!-- 配置AOP -->
    <aop:config>
        <!-- where：在哪些地方（包.类.方法）做增加 -->
        <aop:pointcut id="landlordPoint"
                      expression="execution(* com.fys.aop.pojo.Landlord.service())"/>
        <!-- what:做什么增强 -->
        <aop:aspect id="logAspect" ref="broker">
            <!-- when:在什么时机（方法前/后/前后） -->
            <aop:around pointcut-ref="landlordPoint" method="before"/>
            <aop:around pointcut-ref="landlordPoint" method="after"/>
        </aop:aspect>
    </aop:config>

</beans>